includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - config
    databaseMigrationsPath:
        - vendor/laravel/telescope/database/migrations
    noEnvCallsOutsideOfConfig: false
