parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Laravel\\\\Telescope\\\\Storage\\\\EntryModel\\:\\:\\$content\\.$#"
			count: 1
			path: src/TelescopeEntryRepository.php
